/* === Artsolio Accent — Editor-only (inside the editor iframe) === */

/* Replace button styling (MediaReplaceFlow) */
.editor-styles-wrapper
  .wp-block-artsolio-accent.artsolio-accent
  .components-dropdown {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 12002;
  position: absolute;
  padding: 1rem;
  top: calc(50% - 32px);
  left: calc(50% - 37px);
}

.editor-styles-wrapper
  .wp-block-artsolio-accent.artsolio-accent.is-selected
  .components-dropdown button {
  display: inline-flex;
  background: #007CBA;
  color: #fff;
}

/* Optional: hide the dropdown when the block isn’t selected */
.editor-styles-wrapper
  .wp-block-artsolio-accent.artsolio-accent:not(.is-selected)
  .components-dropdown button {
  display: none;
}